<div class="page-header">
	<div class="home-text">
		<h3>Meeting {{idea.boardId}}</h3>
		<a ng-href="/ideas/create/{{ idea.boardId }}" class="btn btn-warning">
			<span class="glyphicon glyphicon-plus"></span> 
			New Idea
		</a>
		<span ng-switch="idea.playing">
			<span ng-switch-when='true'><a href="#" ng-click="idea.toggle()" class="btn btn-primary">Stop</a></span>
			<span ng-switch-when='false'><a href="#" ng-click="idea.toggle()" class="btn btn-primary">Start</a></span>
		</span>
	</h3>

</div>

<div ng-if="!idea.hideExplanation" id="explanation">
	<div class="img-wrap">
		<span class="close" ng-click="idea.hideExplanationClick()">&times;</span>
	</div>
	<h5> Explanation for <i>{{idea.ideas[idea.ideaToShow].content}}</i>:</h5>
	{{idea.ideas[idea.ideaToShow].explanation}}
</div>

<div ng-if="!idea.hideNotes" id="explanation">
	<div class="img-wrap">
		<span class="close" ng-click="idea.hideNotesClick()">&times;</span>
	</div>
	<h5>Notes</h5>
	<div ng-repeat="note in idea.noteToShow">
		 &bull;
		 {{ note.content }}
	</div>

	<form class="form-horizontal" ng-submit="idea.saveNote()">	
		<div class="form-group">
			<label class="col-sm-2 control-label">Create Note</label>
			<div class="col-sm-6">
					<input type="text" class="form-control home-text" ng-model="idea.noteData.text" ng-value=''>					
			</div>
			<div class="col-sm-2">
				<button type="submit" class="btn btn-primary btn-block">Create Note</button>
			</div>
		</div>
		
	</form>
</div>


<div class="jumbotron text-center" ng-show="idea.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Ideas...</p>
</div>

<div id="canvas" ng-click="idea.upvoteBubble($event); idea.flag($event)" ng-mouseover="idea.showExplanation($event)">
</div>
