<div class="jumbotron text-center" ng-show="idea.processing">
	<h1>Welcome {{ user.username }}</h1>
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Boards...</p>
</div>

<table class="table" ng-show="user.boards">
	<thead>
		<tr>
			<th>Board Code</th>
			<th>Number of Ideas</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="board in user.boards">
			<td>{{ board.code }}</td>
			<td>{{ board.numberOfIdeas }}</td>
			<td>
				<a href="#" ng-href="/boards/board.code" class="btn btn-primary">See Board</a>
			</td>
		</tr>
	</tbody>
</table>
